body{
    background-color: antiquewhite;
    margin: 0;
}
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid red;
}
.Book-Section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    max-width: 500px;
    max-height: 200px;
    width: 800px;
    height: 150px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 0 2px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
img{
    width: 100px;
    height: 150px;
}
.Main-img{
   margin-right:20px ;
}
.Description{
    text-decoration:underline;
}